@import "common";

#collections {
  padding: 120px 150px 86px 150px;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .h1-group {
    align-items: center;
  }
}

.block-days {
  display: flex;
  align-items: center;
  background-color: $gray-background-color;
  border-radius: 20px;
  padding: 5px 5px;

  .block {
    padding: 20px 47px;
    font-size: 16px;
    letter-spacing: 0.64px;

    &.left {
      background-color: $gray-dop-background-color;
      border-radius: 20px;
    }
  }
}

.grid-collections {
  margin: 65px 0 72px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 40px;

  .collection {
    display: flex;
    background-color: $gray-background-color;
    border-radius: 30px;
    padding: 10px 40px 10px 10px;
    align-items: center;
    gap: 24px;

    img {
      border-radius: 30px;
      width: 100px;
    }

    .name-amount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: auto;
    }

    .name {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .name-head {
      font-size: 24px;
    }

    .floor {
      color: $dop-color;
      font-size: 16px;
    }

    .amount {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .eth {
      font-size: 16px;
    }

    .m {
      font-size: 16px;
      color: $dop-color;
    }

    .percent {
      color: $blue-background-color;
      font-size: 14px;
    }
  }
}

.see-all-collection {
  padding: 15px 19px 15px 20px;
  margin: 0 auto;
}

#tranding {
  padding: 120px 115px;

  .h1-group {
    margin-left: 35px;
  }

  .categories {
    gap: 29px;
  }
}

.person-block {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: $gray-dop-background-color;
  padding-bottom: 13px;

  .circle-arrow {
    margin-top: 262px;

    &.left {
      margin-left: -35px;
    }

    &.right {
      margin-left: 350px;
    }
  }

  img {
    width: 383px;
    height: 350px;
    border-radius: 30px 30px 0px 0px;
  }

  .name-person {
    margin: 16px 0 0 15px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.96px;
  }

  .id-person {
    margin: 8px 0 0 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.64px;
  }

  .price-block {
    border-radius: 20px;
    background-color: $gray-background-color;
    margin: 31px 13px 0 13px;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;

    span {
      font-family: "Red Hat Display", sans-serif;
    }

    .block {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .string {
      color: #999;
      font-size: 16px;
      letter-spacing: 0.64px;
    }

    .value {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.56px;
    }
  }
}

#insights {
  padding: 120px 150px;
}

.blocks-insights {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.insights {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-top: 48px;

  img {
    border-radius: 50px;
    width: 500px;
    height: 312px;
  }

  .insight {
    display: flex;
    flex-direction: column;
  }

  .button-date {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .button-date {
    margin-top: 32px;

    button {
      color: #0a142f;
      padding: 5px 12px;
      font-size: 12px;
      line-height: 18px;
      background-color: #f3f5f6;
      box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
      border-radius: 36px;
    }
  }

  .date {
    font-size: 16px;
    font-weight: 700;
  }

  .info {
    margin-top: 16px;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
  }

  .read-more {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: $gray-dop-background-color;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-top: 48px;
    align-self: start;
  }

  .read-more:hover {
    background-color: $blue-background-color;
  }
}

#app-download {
  padding: 120px 150px;
}

.app {
  display: flex;
  background-color: $gray-dop-background-color;
  border-radius: 50px;
  border: 1px solid #000;
  padding: 96px 72px;
  gap: 202px;

  h1 {
    font-size: 30px;
    letter-spacing: 1.2px;
    align-items: center;
    display: flex;
  }

  .download{
    display: flex;
    align-items: center;
    gap: 16px;

    div{
        font-family: 'Inter', sans-serif;
        display: flex;
        gap: 8px;
        padding: 24px 68px;
        font-size: 20px;
        border-radius: 50px;
    }
  }

  .apple{
    background-color: $gray-background-color;
  }
  
  .android{
    background-color: $blue-background-color;
    color: $gray-dop-background-color22;
  }
}
